appdirs==1.4.3
asgiref==3.2.10
astroid==2.4.2
autopep8==1.4.4
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
chromedriver==2.24.1
chromedriver-binary==84.0.4147.30.0
chromedriver-py==84.0.4147.30
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
cryptography==2.9.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.6
django-allauth==0.39.1
django-bootstrap3==12.0.3
django-bower==5.2.0
django-cors-headers==3.4.0
django-countries==5.3.3
django-crispy-forms==1.9.2
django-debug-toolbar==1.10.1
django-filter==2.2.0
django-heroku==0.3.1
django-jsonfield==1.4.0
django-rest-knox==4.1.0
django-scheduler==0.9.3
djangorestframework==3.11.0
filelock==3.0.12
gunicorn==20.0.4
icalendar==4.0.6
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
node==0.9.25
oauthlib==3.0.1
odict==1.7.0
pep8==1.7.1
Pillow==7.1.1
pipenv==2018.11.26
plumber==1.5
psycopg2==2.8.5
pycodestyle==2.5.0
pycparser==2.20
pylint==2.5.3
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.1.0
pytz==2020.1
requests==2.21.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
stripe==2.27.0
toml==0.10.1
urllib3==1.24.2
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
webdriver-manager==3.2.1
whitenoise==5.1.0
wrapt==1.12.1
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
